# Android
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.iml
.idea/
app/google-services.json

# Python (Backend)
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/quiz_app.db

# Divers
.DS_Store
*.log
